<meta http-equiv="refresh" content="10; url=/<%= hash %>">
Congratulations <%= allFields.firstname %>, you have been clean <%= calculated.years %> years, <%=calculated.months %> months, and <%=calculated.days%> days, or <%=calculated.totalDays%> days!

<p><a href="/<%= hash%>">Click here</a> to return to the home page.</p>